<div class="left-content" align ="center" >
   <h1>It's Easy to-do </h1>
   <p>Ta-da List is the web's easiest to-do list tool. Make lists for yourself or share them with others. It couldn't be simpler. </p> 
   <div class="sign-link" align="center"><%=link_to("Sign up for free",new_customer_path)%> </div>
</div>


