<div class="left-content" align ="center" >
   <h1>It's Easy to-do </h1>
   <p>Ta-da List is the web's easiest to-do list tool. Make lists for yourself or share them with others. It couldn't be simpler. </p> 
   <div class="sign-link" align="center"><%=link_to("Sign up for free",new_customer_path)%> </div>
</div>

<div class='right-content'>
  <h1> <%=@todo_list.list_name%> </h1>
  <ul class='item-box' align='center' >	
     <% @todo_list.items.order("pos_index ASC").each do |item| %>
	 	<li><%=item.item_desc %> </li>	
    <%end%>
  </ul>	
</div>

