<div class = 'customer-detail' > Customer <%= @customer.id %>
	<ul>
		<li>UserName : <%= @customer.login_name%> </li>
		<li>Name : <%= @customer.full_name %>     </li>
		<li>email: <%=@customer.email%>  </li>
	</ul>	 
</div>